**/.DS_Store
*.asv
*testAlgo1.m

### MATLAB ###
# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace


tests/dataset
worse_masks
Dataset_cop
Dataset
codigo_prog01
Utils

*.zip

Masks
Training

Masks
figures
untitled.m
